RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteRule /?\.gitignore$ - [F,L]
RewriteRule /?\.git/.* - [F,L]
RewriteRule /?config.php$ - [F,L]
RewriteRule /?config-sample.php$ - [F,L]
RewriteRule /?README.md$ - [F,L]
